page-home {

  ion-header {
    ion-spinner {
      position: fixed;
      width: 10px;
      height: 10px;
    }
  }

  .shopping-list {
    .quantity {

    }

    .ingredient {
      flex-grow: 2;
    }

    .action-btn {
      width: 3.6rem;
      height: 3.6rem;
      padding: .6em;
    }

    .action-bar {
      display: flex;

      .action-bar-btn {
        height: 4.6rem;
        width: 50%;
        flex-grow: 1;
      }
    }

    .validate {
      color: white;
      background-color: #43cee6;
    }
  }
}
